$browser-context: 16; // Default
@function em($pixels, $context: $browser-context) {
  @return #{$pixels/$context}em;
  //get font-size from px to em
}

$theme-color: #1abc9c; //one of the theme color of Chingu
$chingu-yellow: #f1c40f;
$chingu-grey: #333;

body {
  font-family: Open Sans, sans-serif;
  width: 100%;
  height: 100%;
  color: $chingu-grey;
}

::selection {
  background: $chingu-yellow; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: $chingu-yellow; /* Gecko Browsers */
}

a {
  color: black;
  transition: 300ms;
  text-decoration: none;
  &:hover {
    color: $chingu-yellow;
  }
  &:active, &:focus, &:hover {
    text-decoration: none;
  }
}

// =============
// Header
// =============
.header {
  padding: em(15);
}
.site__name {
  text-transform: uppercase;
  font-weight: bold;
}

.header__menu {
  display: inline-flex;
  list-style-type: none;
  margin-right: em(10);
  position: absolute;
  top: 0;
  right: 0;
  padding: em(10);
  li {
    padding: em(5);
  }
}

//==================
//User form style
//==================
.user__headline {
  display: inline-flex;
  font-size: em(30);
  color: black;
  font-weight: 800;
  padding: em(10) 0;
  box-shadow: inset 0 -3px 0 0 #f1c40f;
}

.user__list {
  width: 100%;
  padding: em(10);
  margin: 0 auto;
}

.user__header {
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  padding: em(10);
}

.user__cell {
  word-wrap: break-word;
  padding: em(10);
  text-align: center;
  p {
    margin: em(5) 0;
  }
  .small {
    color: #9e9e9e;
  }
}

.user__male {
  font-size: 2em;
  color: #0074d9;
  margin: em(5) 0;
}

.user__female {
  @extend .user__male;
  color: #f012be;
}

.loading {
  color: #616161;
  transition: 300ms;
}

// =============
// Login Page
// =============

.login__introblock {
  background-color: $theme-color;
  color: #ffffff;
}

.login__button {
  display: block;
  width: 50%;
  margin: 0 auto;
  span {
    margin: 0 auto;
  }
}

.login__button-google {
  display: inline-flex;
  padding: em(10) em(20);
  background-color: #ea4335;
  color: #ffffff;
  transition: 300ms;
  margin-top: em(9);
  width: 100%;
  vertical-align: middle;
  i {
    color: #ffffff;
    margin-right: em(10);
    margin-top: em(5);
  }
  &:hover {
    background-color: rgba(234,67,53,0.9);
    cursor: pointer;
  }
  &:focus, &:active, &:hover {
    text-decoration: none;
  }
}

.login__button-facebook {
  @extend .login__button-google;
  background-color: #3b5998;
  &:hover {
    background-color: rgba(59,89,152,0.9)
  }
}

.user__headline--white {
  @extend .user__headline;
  box-shadow: inset 0 -3px 0 0 #ffffff;
  color: #ffffff;
}

.login__ul {
  list-style-type: none;
  padding-left: em(30)
  li:before {
    font-family: FontAwesome;
    content: '\f00c';
    font-size: 1em;
    color: #ffffff;
    position: absolute;
    left: em(20);
  }
}

// =============
// Search
// =============

.list__inline li {
  display: inline-block;
  margin-right: 20px;
}

.list__border li {
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid black;
}

.list__header {
  background-color: gray
}

.search__result__logo {
  width: 20%;
}

// =============
// Footer
// =============

.footer {
  @extend .header;
}
