body {
  width: 100%;
  height: 100vh;
  min-height: 100vh;
  font-family: Lato, 'Open Sans', sans-serif;
  color: #333333;
  overflow-x: hidden;
  box-sizing: border-box; }

#body {
  transition: 300ms; }

.no-overflow {
  overflow-x: hidden;
  overflow-y: hidden; }

.overflow {
  overflow-x: auto;
  overflow-y: auto; }

::selection {
  background: #f1c40f;
  /* WebKit/Blink Browsers */ }

::-moz-selection {
  background: #f1c40f;
  /* Gecko Browsers */ }

a {
  color: black;
  transition: 300ms;
  text-decoration: none; }
  a:hover {
    color: #f1c40f; }
  a:active, a:focus, a:hover {
    text-decoration: none; }

.header, .footer {
  position: relative;
  padding: 0.9375em;
  z-index: 2; }
  @media only screen and (min-width: 1200px) {
    .header, .footer {
      z-index: auto; } }

.site__name {
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: 500; }

.header__hamburger {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 1em;
  right: 0.6em;
  float: right;
  width: 2.1875em;
  height: 2.1875em;
  border-radius: 0.3125em;
  z-index: 1030;
  cursor: pointer;
  transition: 500ms; }
  .header__hamburger:hover .header__hamburger--center span:nth-child(odd) {
    width: 70%; }
  .header__hamburger span:nth-child(even) {
    margin: 4px 0; }
  .header__hamburger span {
    display: block;
    width: 100%;
    height: 0.25em;
    background-color: #333333; }
  @media only screen and (min-width: 1200px) {
    .header__hamburger {
      display: none; } }

.header__hamburger--center {
  width: 70%; }

.header__menu__grid {
  text-align: center;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 280px;
  z-index: 1;
  background: white;
  visibility: hidden;
  transition: 500ms;
  transform: translate3d(100%, 0, 0);
  box-shadow: 1px 1px 5px rgba(51, 51, 51, 0.6); }
  @media only screen and (min-width: 1200px) {
    .header__menu__grid {
      position: absolute;
      top: 0;
      right: 0;
      box-shadow: none;
      transform: translate3d(0, 0, 0);
      width: auto;
      height: auto;
      visibility: visible;
      background-color: transparent; } }

.header__menu__grid--active {
  visibility: visible;
  transform: translate3d(0, 0, 0); }

.header__menu {
  flex-flow: column;
  list-style-type: none;
  margin: 0 0.625em;
  padding: 0.625em; }
  .header__menu a:first-of-type {
    font-weight: 600;
    text-align: center; }
  .header__menu li {
    display: flex;
    padding: 1.25em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    justify-content: center;
    font-size: 110%;
    margin-top: 5px; }
  .header__menu i {
    flex: 0 0 10%;
    margin-top: 0.14em;
    font-size: 1.2em; }
  .header__menu span {
    flex: 0 0 90%; }
  @media only screen and (min-width: 1200px) {
    .header__menu {
      display: inline-flex;
      height: auto;
      flex-flow: row wrap;
      margin: 0 0.625em;
      padding: 0.9375em; }
      .header__menu a:first-of-type {
        display: none; }
      .header__menu li {
        border-bottom: 0;
        padding: 0 0.625em; }
      .header__menu i {
        display: none; }
      .header__menu span {
        flex: 0 0 100%; } }

.header__translate {
  transform: translateX(-280px);
  transition: 500ms;
  overflow: hidden; }

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(51, 51, 51, 0.6);
  display: none;
  z-index: 1; }

.overlay--active {
  display: block; }

.section {
  padding: 1.5rem 1rem;
  color: white;
  font-size: 120%; }
  @media only screen and (min-width: 1200px) {
    .section {
      padding: 2.5rem; } }
  .section__hero {
    background-image: url("../src/assets/hero image.jpg");
    background-size: 300%;
    background-position: center; }
    @media screen and (min-width: 737px) {
      .section__hero {
        background-size: 200%; } }
    @media only screen and (min-width: 1200px) {
      .section__hero p {
        letter-spacing: 1px; } }
    .section__hero .btn {
      margin-top: 1rem;
      margin-bottom: 1rem;
      color: #333333;
      cursor: pointer; }
    .section__hero__branding {
      position: relative;
      color: white;
      font-size: 300%;
      font-weight: bold;
      padding: 0 1rem;
      border-bottom: solid #f1c40f 0.5rem;
      border-right: solid #f1c40f 0.5rem;
      margin-bottom: 2rem; }
      .section__hero__branding span {
        display: block;
        letter-spacing: 3px; }
      .section__hero__branding:after {
        content: '';
        position: absolute;
        top: -10px;
        right: -22.5px;
        width: 0;
        height: 0;
        border-left: 18px solid transparent;
        border-right: 18px solid transparent;
        border-bottom: 18px solid #f1c40f; }
      @media only screen and (min-width: 1200px) {
        .section__hero__branding {
          font-size: 350%; } }
  .section--light {
    background-color: #1abc9c; }
  .section--dark {
    background-color: #4f6570; }
  .section--black {
    background-color: #333333; }
  .section__feature {
    text-align: center; }
  .section__header {
    text-align: center;
    display: block;
    margin: 0 auto;
    width: 240px;
    color: white;
    font-weight: 400;
    border-bottom: 0.3rem solid #f1c40f;
    padding-bottom: 0.9rem;
    margin-bottom: 2rem; }
    @media screen and (min-width: 375px) {
      .section__header {
        width: 295px; } }
  .section__text {
    text-align: center; }
  .section__users {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; }
    .section__users__image {
      width: 5rem;
      height: 5rem; }
  .section__project {
    text-align: center;
    border: 0.1rem solid #f1c40f;
    background: #4f6570;
    border-radius: 10px;
    margin: 1em;
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: center; }

.icon {
  background: #333;
  text-align: center;
  vertical-align: middle;
  padding: 1.1rem;
  font-size: 210%;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  border: solid #f1c40f 2px;
  margin-bottom: 1rem; }

.btn {
  display: block;
  padding: 5px 20px;
  margin: 0 auto;
  margin-top: 35px; }
  .btn__login {
    font-size: 110%;
    background-color: #f1c40f;
    color: black; }

.btn::selection {
  background: black; }

.text--primary {
  color: #f1c40f; }

.landing__background--gray {
  background-color: #4f6570; }

.user__headline, .user__headline--white, .user__headline--yellow, .filter__title {
  display: inline-flex;
  font-size: 1.875em;
  color: black;
  font-weight: 800;
  padding: 0.625em 0;
  box-shadow: inset 0 -3px 0 0 #f1c40f; }

.user__list {
  width: 100%;
  padding: 0.625em;
  margin: 0 auto; }

.user__header {
  text-transform: uppercase;
  font-weight: bold;
  margin: 0 auto;
  padding: 0.625em; }

.user__cell {
  word-wrap: break-word;
  padding: 0.625em;
  margin: 0 auto p;
    margin-margin: 0.3125em 0; }
  .user__cell .small {
    color: #9e9e9e; }

.user__male, .user__female {
  font-size: 2em;
  color: #0074d9;
  margin: 0.3125em 0; }

.user__female {
  color: #f012be; }

.loading {
  color: #616161;
  transition: 300ms; }

.login__introblock {
  height: auto;
  color: #ffffff;
  /*@media only screen and (min-width : 768px) {
    height: calc(100vh - 120px);
  }*/ }

.login__button {
  padding-top: 2rem;
  display: block;
  width: 250px;
  margin: 0 auto; }
  .login__button span {
    margin: 0 auto; }
  @media only screen and (min-width: 992px) {
    .login__button {
      width: 250px; } }
  @media only screen and (min-width: 1200px) {
    .login__button {
      width: 250px; } }

/*.login__button-github {
  display: inline-flex;
  padding: em(10) em(20);
  background-color: rgba(36, 41, 46, 1);
  color: #ffffff;
  transition: 300ms;
  margin-top: em(9);
  width: 100%;
  vertical-align: middle;
  i {
    color: #ffffff;
    margin-right: em(10);
    margin-top: em(5);
  }
  &:hover {
    background-color: rgba(36, 41, 46, 0.8);
    cursor: pointer;
  }
  &:focus,
  &:active,
  &:hover {
    text-decoration: none;
  }
}*/
.login__text {
  position: relative;
  display: block;
  font-size: 1rem;
  text-align: center;
  padding-top: 1.5em;
  padding-bottom: 0em;
  font-weight: 600; }
  .login__text i {
    margin-right: 0.625em; }

/*.login__button-register {
  @extend .login__button-github;
  background-color: #f44336;
  &:hover {
    background-color: #ef5350;
  }
}*/
.user__headline--white {
  box-shadow: inset 0 -3px 0 0 #ffffff;
  color: #ffffff; }

.user__headline--yellow {
  box-shadow: inset 0 -3px 0 0 #f1c40f;
  color: #ffffff; }

.login__ul {
  list-style-type: none;
  padding-left: 1.875em; }
  .login__ul li:before {
    font-family: FontAwesome;
    content: '\f00c';
    font-size: 1em;
    color: #ffffff;
    position: absolute;
    left: 1.25em; }

.login--face {
  height: 25px; }

.no-padding {
  padding: 0;
  margin: 0; }

.search__close {
  position: absolute;
  right: 0.9em;
  top: -0.3em;
  font-size: 1.2em;
  cursor: pointer;
  padding: 0.5em; }
  @media only screen and (min-width: 768px) {
    .search__close {
      top: -0.1em;
      right: 1.1em;
      font-size: 1em; } }

.search__user__grid {
  display: flex;
  flex-flow: column wrap; }
  @media only screen and (min-width: 768px) {
    .search__user__grid {
      justify-content: left; } }
  @media only screen and (min-width: 1200px) {
    .search__user__grid {
      flex-flow: row wrap;
      justify-content: left; } }

.search__header-text-align input {
  margin: 0 auto; }

.search__user {
  background: #4f6570;
  color: white;
  padding: 0.9375em 0.625em;
  margin-bottom: 0.625em;
  box-shadow: 1px 1px 3px rgba(51, 51, 51, 0.6);
  border-radius: 0.3125em; }
  @media only screen and (min-width: 768px) {
    .search__user {
      width: 90%; } }
  @media only screen and (min-width: 1200px) {
    .search__user {
      width: calc(50% - 1.5em);
      margin-right: 1em; }
      .search__user:nth-child(odd) {
        margin-left: 1em; } }

.list__inline {
  font-family: 'Arial';
  font-size: 0.7em;
  color: #333333;
  padding: 0.4em 0.9em;
  margin: 0; }
  .list__inline li {
    display: inline-block;
    margin: 0.2em;
    padding: 0 0.625em;
    background-color: #f1c40f;
    text-align: center; }
  @media only screen and (min-width: 1200px) {
    .list__inline {
      padding: 0.4em 1.2em; } }

.search__user__header {
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem; }

.search__err {
  position: relative; }

.search__toggle, .search__toggle--refresh {
  display: block;
  background: #f1c40f;
  color: black;
  margin-bottom: 0.625em;
  transition: 300ms; }
  .search__toggle i, .search__toggle--refresh i {
    margin-right: 0.625em; }
  .search__toggle a, .search__toggle--refresh a {
    color: #333333; }
  .search__toggle:hover, .search__toggle--refresh:hover {
    color: #333333;
    background: #f1c40f; }
  .search__toggle:active, .search__toggle--refresh:active {
    color: #333333;
    background: #f1c40f;
    transform: translateY(2px); }
  .search__toggle:active, .search__toggle--refresh:active, .search__toggle:focus, .search__toggle--refresh:focus, .search__toggle:hover, .search__toggle--refresh:hover {
    text-decoration: none; }
  @media only screen and (min-width: 768px) {
    .search__toggle, .search__toggle--refresh {
      display: inline-block;
      width: calc(50% - 10px); }
      .search__toggle:nth-child(odd), .search__toggle--refresh:nth-child(odd) {
        margin-left: 15px; } }
  @media only screen and (min-width: 1200px) {
    .search__toggle, .search__toggle--refresh {
      display: inline-block;
      width: auto;
      margin-left: 0.9375em;
      margin-right: 0.625em;
      position: relative; } }
  .search__toggle--refresh {
    display: block;
    width: 40%;
    margin: 0 auto; }

.search__result__title {
  display: block;
  padding: 0 0.65em;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  letter-spacing: 0.1em; }
  @media only screen and (min-width: 1200px) {
    .search__result__title {
      font-size: 1.5rem; } }

.search__thumbnail {
  display: inline-flex;
  width: 1.875em;
  min-width: 1.875em;
  height: 1.875em;
  background: linear-gradient(to bottom, rgba(51, 51, 51, 0.6), #333333);
  font-size: 2em;
  color: #f1c40f;
  text-transform: uppercase;
  align-items: center;
  justify-content: center;
  transition: 300ms;
  border-radius: 5px;
  flex: 0 0 10%; }
  .search__thumbnail:hover {
    color: white;
    cursor: pointer; }
  @media only screen and (min-width: 1200px) {
    .search__thumbnail {
      width: 3.125em;
      height: 3.125em;
      min-width: 3.125em; } }

.search__title__grid {
  flex: 80%; }
  @media only screen and (min-width: 768px) {
    .search__title__grid {
      flex: 0 0 70%; } }
  @media only screen and (min-width: 1200px) {
    .search__title__grid {
      flex: 0 0 70%; } }

.search__desc {
  text-align: left;
  padding-top: 0.625em;
  font-size: 0.8em;
  overflow: hidden;
  text-overflow: ellipsis; }
  @media only screen and (min-width: 768px) {
    .search__desc {
      text-align: center; } }

.search__popup {
  border: 1px solid #ccc; }

.filter__item {
  position: relative;
  display: inline-block;
  width: 50%;
  padding: 0.625em 1.5625em;
  border-radius: 5px; }
  .filter__item label {
    cursor: pointer;
    margin-left: 0.625em;
    margin-bottom: 0; }
  .filter__item input[type="checkbox"] {
    display: none;
    transition: 300ms; }
  .filter__item input[type="checkbox"]:checked + label {
    font-weight: bold; }
  .filter__item input[type="checkbox"]:checked + label:before {
    content: '\f00c';
    font-family: 'FontAwesome';
    color: #f1c40f;
    position: absolute;
    top: 0.6875em;
    left: 0.625em;
    font-size: 1em;
    opacity: 1; }
  .filter__item input[type="checkbox"] + label:before {
    content: '\f00c';
    font-family: 'FontAwesome';
    color: rgba(51, 51, 51, 0.6);
    opacity: 0.5;
    position: absolute;
    top: 0.6875em;
    left: 0.625em;
    font-size: 1em; }
  @media only screen and (min-width: 768px) {
    .filter__item {
      width: auto; } }

.filter__item--grid {
  margin: 0.9375em;
  font-weight: 600; }

.filter__item--filtered {
  display: inline-block;
  background-color: #f1c40f;
  padding: 0.3125em 0.625em;
  margin-right: 0.625em;
  font-size: 0.8125em;
  font-weight: normal; }

.filter__title {
  display: block;
  font-weight: 600;
  font-size: 1em;
  margin-left: 0.625em; }

.btn-link, .section__hero .btn {
  cursor: pointer; }

.flip-animation {
  animation: flip 500ms ease-in-out; }

.flip {
  animation: flip 400ms ease-in-out; }

.fade-in {
  animation: fade-in 500ms ease-in; }

.fade-in-out {
  animation: fade-in-out 500ms ease-in; }

@keyframes flip {
  0% {
    opacity: 0;
    transform: rotateX(90deg); }
  100% {
    opacity: 1;
    transform: rotateX(0deg); } }

@keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fade-in-out {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.loading-animation {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  width: 100%;
  min-height: calc(100vh - 320px); }
  .loading-animation span {
    font-family: 'Arial';
    letter-spacing: 2px;
    font-weight: 600; }

.spots div {
  display: inline-block;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  margin: 5px 0;
  background: #f1c40f;
  animation-fill-mode: both;
  animation: bounce 1.8s ease-in infinite reverse; }
  @media only screen and (min-width: 768px) {
    .spots div {
      width: 20px;
      height: 20px;
      margin: 5px 0; } }

.spots div:nth-child(even) {
  margin: 5px 20px; }
  @media only screen and (min-width: 768px) {
    .spots div:nth-child(even) {
      margin: 5px 30px; } }

.spots .spot-2 {
  animation-delay: .3s; }

.spots .spot-3 {
  animation-delay: .6s; }

.spots .spot-4 {
  animation-delay: .9s; }

@keyframes bounce {
  0% {
    transform: scale(1) Y(0); }
  50% {
    transform: translateY(5px); }
  70% {
    background: rgba(0, 0, 0, 0.05); }
  100% {
    transform: scale(1) translateY(0); } }

.profile__body {
  font-family: 'Lato', sans-serif;
  color: white; }

.profile__edit-bg-grey {
  background-color: #4e6571;
  display: block; }

.profile__view-bg-grey {
  background-color: #4e6571;
  display: flex;
  align-items: center;
  padding-top: 2rem; }

.profile__image {
  border-radius: 50%;
  background-color: #ffeb3b;
  padding: 3px;
  max-width: 100%;
  height: auto; }

.profile__header-text {
  padding: 0;
  margin: 0; }

.profile__header-text h3 {
  margin: 0;
  padding: 0; }

.profile__header-text p {
  margin: 0;
  padding: 0; }

.profile__header-text a {
  color: white;
  margin: 0;
  padding: 0;
  word-wrap: break-word; }

.profile__button-contact {
  background-color: #ffeb3b;
  border: 2px solid #333333;
  border-radius: 5px;
  color: #333333;
  font-weight: bold;
  padding: 5px 20px;
  margin: 0 auto;
  position: relative;
  top: 18px; }

.profile__bg-black {
  background-color: #333333;
  padding-top: 2rem; }

.profile__category-text {
  text-decoration: underline;
  text-decoration-color: #ffeb3b;
  text-underline-position: below;
  text-align: center; }

.profile__image-container {
  position: relative;
  max-width: 156px;
  margin: 0 auto; }

.profile__edit-image {
  border-radius: 50%;
  background-color: #ffeb3b;
  margin: 0px;
  padding: 3px;
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto; }

.profile__edit-image-button {
  position: absolute;
  top: 0px;
  right: -15px;
  border: none;
  background-color: transparent;
  color: #bcbcbc;
  cursor: pointer; }

.profile__form-field {
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: white;
  background-color: #333333;
  border: 1px solid #bcbcbc;
  margin: 0;
  vertical-align: top;
  overflow: auto; }

.widthHalf {
  width: 50%;
  display: inline-block; }

.profile__edit-footer {
  border-top: 1px solid #bcbcbc;
  background-color: #4e6571; }

.profile__button-change-view {
  margin: 0;
  padding: .75rem 1rem;
  display: inline-block;
  cursor: pointer; }

.profile__button-save {
  margin: .65rem 1rem;
  padding: 0 1rem;
  float: right;
  border: 2px solid #333333;
  border-radius: 5px;
  background-color: #ffeb3b;
  font-weight: bold;
  cursor: pointer; }
