$browser-context: 16; // Default
@function em($pixels, $context: $browser-context) {
  @return #{$pixels/$context}em;
  //get font-size from px to em
}

$theme-color: #1abc9c; //one of the theme color of Chingu
$chingu-yellow: #f1c40f;
$chingu-grey: #333;
$profile-yellow: #FFEB3B;
$profile-grey: #4E6571;
$profile-black: #333333;
$spacer: 1rem;
$spacer-x: $spacer;
$spacer-y: $spacer;

body {
  font-family: Open Sans, sans-serif;
  width: 100%;
  height: 100%;
  color: $chingu-grey;
}

::selection {
  background: $chingu-yellow; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: $chingu-yellow; /* Gecko Browsers */
}

a {
  color: black;
  transition: 300ms;
  text-decoration: none;
  &:hover {
    color: $chingu-yellow;
  }
  &:active, &:focus, &:hover {
    text-decoration: none;
  }
}

// =============
// Header
// =============
.header {
  padding: em(15);
}
.site__name {
  text-transform: uppercase;
  font-weight: bold;
}

.header__menu {
  display: inline-flex;
  list-style-type: none;
  margin-right: em(10);
  position: absolute;
  top: 0;
  right: 0;
  padding: em(10);
  li {
    padding: em(5);
  }
}

//==================
//User form style
//==================
.user__headline {
  display: inline-flex;
  font-size: em(30);
  color: black;
  font-weight: 800;
  padding: em(10) 0;
  box-shadow: inset 0 -3px 0 0 #f1c40f;
}

.user__list {
  width: 100%;
  padding: em(10);
  margin: 0 auto;
}

.user__header {
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  padding: em(10);
}

.user__cell {
  word-wrap: break-word;
  padding: em(10);
  text-align: center;
  p {
    margin: em(5) 0;
  }
  .small {
    color: #9e9e9e;
  }
}

.user__male {
  font-size: 2em;
  color: #0074d9;
  margin: em(5) 0;
}

.user__female {
  @extend .user__male;
  color: #f012be;
}

.loading {
  color: #616161;
  transition: 300ms;
}

// =============
// Login Page
// =============

.login__introblock {
  background-color: $theme-color;
  color: #ffffff;
}

.login__button {
  display: block;
  width: 50%;
  margin: 0 auto;
  span {
    margin: 0 auto;
  }
}

.login__button-github {
  display: inline-flex;
  padding: em(10) em(20);
  background-color: rgba(36,41,46,1);
  color: #ffffff;
  transition: 300ms;
  margin-top: em(9);
  width: 100%;
  vertical-align: middle;
  i {
    color: #ffffff;
    margin-right: em(10);
    margin-top: em(5);
  }
  &:hover {
    background-color: rgba(36,41,46,0.8);
    cursor: pointer;
  }
  &:focus, &:active, &:hover {
    text-decoration: none;
  }
}

.user__headline--white {
  @extend .user__headline;
  box-shadow: inset 0 -3px 0 0 #ffffff;
  color: #ffffff;
}

.login__ul {
  list-style-type: none;
  padding-left: em(30)
  li:before {
    font-family: FontAwesome;
    content: '\f00c';
    font-size: 1em;
    color: #ffffff;
    position: absolute;
    left: em(20);
  }
}

// =============
// Search
// =============

.search__header-text-align {
  text-align: center;
}

.search__header-text-align input {
  text-align: center;
}

.search__filter-buttons {
  text-align: center;
}

.list__inline {
  padding: 0px;
}

.list__inline li {
  display: inline-block;
  margin-right: 10px;
}

.list__border li {
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid black;
}

.list__header {
  background-color: gray
}

.search__result__logo {
  width: 50%;
  display: inline;
}

.search__result__need {
  padding: 0px;
  text-align: center;
}

.search__result__need li {
  display: inline;
}

.search__result__need li img {
  width: 20%;
}

.search__result__title {
  padding: 0px;
  font-size: 1.5rem;
}

.search__result__title li {
  display: inline;
  list-style-type: none;
}

.search__result__title img {
  width: 25%;
}

@media (min-width: 576px) {
  .search__responsive-text-align {
    text-align: left;
  }

  .search__responsive-text-align input {
    text-align: left;
  }
}

// =============
// Profile
// =============

.profile__body {
  font-family: Lato, Arial, sans-serif;
  color: white;
}

.profile__bg-grey {
  background-color: $profile-grey;
  display: block;
}

.profile__image {
  border-radius: 50%;
  background-color: $profile-yellow;
  margin: 0px;
  padding: 3px;
  max-width: 100%;
  height: auto;
  position: relative;
  top: 50%;
  transform: translateY(50%);
}

.profile__header-text {
  padding: 0;
  margin: 0;
  position: relative;
  top: 50%;
  left: 66.5%;
  transform: translate(-50%, -50%)
}

.profile__header-text h3 {
  margin: 0;
  padding: 0;
}

.profile__header-text p {
  margin: 0;
  padding: 0;
}

.profile__header-text a {
  color: white;
  margin: 0;
  padding: 0;
  word-wrap: break-word;
}

.profile__button-contact {
  background-color: $profile-yellow;
  border: 2px solid $profile-black;
  border-radius: 5px;
  color: $profile-black;
  padding: 5px 20px;
  display: block;
  position: absolute;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  font-weight: bold;
}

.profile__bg-black {
  background-color: $chingu-grey;
  padding-top: $spacer-y * 2;
}

.profile__category-text {
  text-decoration: underline;
  text-decoration-color: $profile-yellow;
  text-underline-position: below;
  text-align: center;
}

// =============
// Footer
// =============

.footer {
  @extend .header;
}
