body {
  font-family: Open Sans, sans-serif;
  width: 100%;
  height: 100%;
  color: #333; }

::selection {
  background: #f1c40f;
  /* WebKit/Blink Browsers */ }

::-moz-selection {
  background: #f1c40f;
  /* Gecko Browsers */ }

a {
  color: black;
  transition: 300ms;
  text-decoration: none; }
  a:hover {
    color: #f1c40f; }
  a:active, a:focus, a:hover {
    text-decoration: none; }

.header, .footer {
  padding: 0.9375em; }

.site__name {
  text-transform: uppercase;
  font-weight: bold; }

.header__menu {
  display: inline-flex;
  list-style-type: none;
  margin-right: 0.625em;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.625em; }
  .header__menu li {
    padding: 0.3125em; }

.user__headline, .user__headline--white {
  display: inline-flex;
  font-size: 1.875em;
  color: black;
  font-weight: 800;
  padding: 0.625em 0;
  box-shadow: inset 0 -3px 0 0 #f1c40f; }

.user__list {
  width: 100%;
  padding: 0.625em;
  margin: 0 auto; }

.user__header {
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  padding: 0.625em; }

.user__cell {
  word-wrap: break-word;
  padding: 0.625em;
  text-align: center; }
  .user__cell p {
    margin: 0.3125em 0; }
  .user__cell .small {
    color: #9e9e9e; }

.user__male, .user__female {
  font-size: 2em;
  color: #0074d9;
  margin: 0.3125em 0; }

.user__female {
  color: #f012be; }

.loading {
  color: #616161;
  transition: 300ms; }

.login__introblock {
  background-color: #1abc9c;
  color: #ffffff; }

.login__button {
  display: block;
  width: 50%;
  margin: 0 auto; }
  .login__button span {
    margin: 0 auto; }

.login__button-github {
  display: inline-flex;
  padding: 0.625em 1.25em;
  background-color: #24292e;
  color: #ffffff;
  transition: 300ms;
  margin-top: 0.5625em;
  width: 100%;
  vertical-align: middle; }
  .login__button-github i {
    color: #ffffff;
    margin-right: 0.625em;
    margin-top: 0.3125em; }
  .login__button-github:hover {
    background-color: rgba(36, 41, 46, 0.8);
    cursor: pointer; }
  .login__button-github:focus, .login__button-github:active, .login__button-github:hover {
    text-decoration: none; }

.user__headline--white {
  box-shadow: inset 0 -3px 0 0 #ffffff;
  color: #ffffff; }

.login__ul {
  list-style-type: none;
  padding-left: 1.875em li; }
  .login__ul :before {
    font-family: FontAwesome;
    content: '\f00c';
    font-size: 1em;
    color: #ffffff;
    position: absolute;
    left: 1.25em; }

.search__header-text-align {
  text-align: center; }

.search__header-text-align input {
  text-align: center; }

.search__filter-buttons {
  text-align: center; }

.list__inline {
  padding: 0px; }

.list__inline li {
  display: inline-block;
  margin-right: 10px; }

.list__border li {
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid black; }

.list__header {
  background-color: gray; }

.search__result__logo {
  width: 50%;
  display: inline; }

.search__result__need {
  padding: 0px;
  text-align: center; }

.search__result__need li {
  display: inline; }

.search__result__need li img {
  width: 20%; }

.search__result__title {
  padding: 0px;
  font-size: 1.5rem; }

.search__result__title li {
  display: inline;
  list-style-type: none; }

.search__result__title img {
  width: 25%; }

@media (min-width: 576px) {
  .search__responsive-text-align {
    text-align: left; }
  .search__responsive-text-align input {
    text-align: left; } }

.profile__body {
  font-family: 'Lato', sans-serif;
  color: white; }

.profile__bg-grey {
  background-color: #4E6571;
  display: block; }

.profile__image {
  border-radius: 50%;
  background-color: #FFEB3B;
  margin: 0px;
  padding: 3px;
  max-width: 100%;
  height: auto;
  position: relative;
  top: 50%;
  transform: translateY(50%); }

.profile__header-text {
  padding: 0;
  margin: 0;
  position: relative;
  top: 50%;
  left: 66.5%;
  transform: translate(-50%, -50%); }

.profile__header-text h3 {
  margin: 0;
  padding: 0; }

.profile__header-text p {
  margin: 0;
  padding: 0; }

.profile__header-text a {
  color: white;
  margin: 0;
  padding: 0;
  word-wrap: break-word; }

.profile__button-contact {
  background-color: #FFEB3B;
  border: 2px solid #333333;
  border-radius: 5px;
  color: #333333;
  padding: 5px 20px;
  display: block;
  position: absolute;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  font-weight: bold; }

.profile__bg-black {
  background-color: #333;
  padding-top: 2rem; }

.profile__category-text {
  text-decoration: underline;
  text-decoration-color: #FFEB3B;
  text-underline-position: below;
  text-align: center; }

.profile__image-container {
  position: relative;
  max-width: 156px;
  margin: 0 auto; }

.profile__edit-image {
  border-radius: 50%;
  background-color: #FFEB3B;
  margin: 0px;
  padding: 3px;
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto; }

.profile__edit-image-button {
  position: absolute;
  top: 0px;
  right: -15px;
  border: none;
  background-color: transparent;
  color: #BCBCBC;
  cursor: pointer; }

.profile__form-field {
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: white;
  background-color: #333333;
  border: 1px solid #BCBCBC;
  margin: 0;
  vertical-align: top;
  overflow: auto; }

.widthHalf {
  width: 50%;
  display: inline-block; }

.profile__edit-footer {
  border-top: 1px solid #BCBCBC;
  background-color: #4E6571; }

.profile__button-change-view {
  margin: 0;
  padding: .75rem 1rem;
  display: inline-block;
  cursor: pointer; }

.profile__button-save {
  margin: .65rem 1rem;
  padding: 0 1rem;
  float: right;
  border: 2px solid #333333;
  border-radius: 5px;
  background-color: #FFEB3B;
  font-weight: bold;
  cursor: pointer; }
