h1 {
  color: red; }

.user__headline {
  font-size: 1.875em;
  color: black;
  font-family: Arial;
  font-weight: 600;
  padding: 0.625em 0; }

.user__list {
  width: 100%;
  padding: 0.625em;
  margin: 0 auto; }

.user__header {
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  padding: 0.625em;
  border-bottom: solid 2px #616161; }

.user__cell {
  word-wrap: break-word;
  padding: 0.625em;
  text-align: center; }
  .user__cell p {
    margin: 0.3125em 0; }
  .user__cell .small {
    color: #9E9E9E; }

.user__male, .user__female {
  font-size: 2em;
  color: #0074D9;
  margin: 0.3125em 0; }

.user__female {
  color: #F012BE; }

.loading {
  color: #616161;
  transition: 300ms; }
