$browser-context: 16; // Default
@function em($pixels, $context: $browser-context) {
  @return #{$pixels/$context}em;
  //get font-size from px to em
}

$theme-color: #1abc9c; //one of the theme color of Chingu
$chingu-yellow: #f1c40f;
$chingu-grey: rgba(51,51,51,1);
$chingu-grey-opacity: rgba(51,51,51,0.6);

$doum-darkblue: #4f6570;
$doum-grey: #333333;

//mobile query
$phone: "only screen and (max-width : 576px)";
$tablet: "only screen and (min-width : 768px)";
$laptop: "only screen and (min-width : 992px)";
$desktop: "only screen and (min-width : 1200px)";

// =====================
// All Pages Default
// =====================

body {
  font-family: Open Sans, sans-serif;
  width: 100%;
  height: 100%;
  color: $chingu-grey;
}

::selection {
  background: $chingu-yellow; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: $chingu-yellow; /* Gecko Browsers */
}

a {
  color: black;
  transition: 300ms;
  text-decoration: none;
  &:hover {
    color: $chingu-yellow;
  }
  &:active, &:focus, &:hover {
    text-decoration: none;
  }
}

// =============
// Header
// =============
.header {
  padding: em(15);
}
.site__name {
  text-transform: uppercase;
  font-weight: bold;
}

.header__menu {
  display: inline-flex;
  list-style-type: none;
  margin-right: em(10);
  position: absolute;
  top: 0;
  right: 0;
  padding: em(10);
  li {
    padding: em(5);
  }
}

//==================
//User form style
//==================
.user__headline {
  display: inline-flex;
  font-size: em(30);
  color: black;
  font-weight: 800;
  padding: em(10) 0;
  box-shadow: inset 0 -3px 0 0 #f1c40f;
}

.user__list {
  width: 100%;
  padding: em(10);
  margin: 0 auto;
}

.user__header {
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  padding: em(10);
}

.user__cell {
  word-wrap: break-word;
  padding: em(10);
  text-align: center;
  p {
    margin: em(5) 0;
  }
  .small {
    color: #9e9e9e;
  }
}

.user__male {
  font-size: 2em;
  color: #0074d9;
  margin: em(5) 0;
}

.user__female {
  @extend .user__male;
  color: #f012be;
}

.loading {
  color: #616161;
  transition: 300ms;
}

// =============
// Login Page
// =============

.login__introblock {
  background-color: $theme-color;
  color: #ffffff;
}

.login__button {
  display: block;
  width: 50%;
  margin: 0 auto;
  span {
    margin: 0 auto;
  }
}

.login__button-github {
  display: inline-flex;
  padding: em(10) em(20);
  background-color: rgba(36,41,46,1);
  color: #ffffff;
  transition: 300ms;
  margin-top: em(9);
  width: 100%;
  vertical-align: middle;
  i {
    color: #ffffff;
    margin-right: em(10);
    margin-top: em(5);
  }
  &:hover {
    background-color: rgba(36,41,46,0.8);
    cursor: pointer;
  }
  &:focus, &:active, &:hover {
    text-decoration: none;
  }
}

.user__headline--white {
  @extend .user__headline;
  box-shadow: inset 0 -3px 0 0 #ffffff;
  color: #ffffff;
}

.login__ul {
  list-style-type: none;
  padding-left: em(30)
  li:before {
    font-family: FontAwesome;
    content: '\f00c';
    font-size: 1em;
    color: #ffffff;
    position: absolute;
    left: em(20);
  }
}

// =============
// Search
// =============

.no-padding {
  padding: 0;
  margin: 0;
}

.search__user__grid {
  display: flex;
  flex-flow: column wrap;
  @media #{$tablet} {
    align-items: center;
  }
  @media #{$desktop} {
    flex-flow: row wrap;
    justify-content: space-around;
  }
}

.search__header-text-align input {
  text-align: center;
}

.search__user {
  background: $doum-darkblue;
  color: white;
  padding: em(15) em(10);
  margin-bottom: em(10);
  box-shadow: 1px 1px 3px $chingu-grey-opacity;
  border-radius: em(5);
  @media #{$tablet} {
    width: 90%;
  }
  @media #{$desktop} {
    width: calc(50vw - 2em);
  }
}

.list__inline {
  font-family: 'Arial';
  font-size: 0.7em;
  color: $doum-grey;
  padding: 0.4em 0.9em;
  margin: 0;
 li {
    display: inline-block;
    margin: 0.2em;
  padding:0  em(10);
  background-color: $chingu-yellow;
  text-align: center;
  }
}

.search__user__header {
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.search__toggle {
  display: block;
  background: $chingu-yellow;
  color: black;
  margin-bottom: em(10);
  transition: 300ms;
  i {
    margin-right: em(10);
  }
  a {
    color: $chingu-grey;
  }
  &:hover {
    color: $chingu-grey;
    background: $chingu-yellow;
  }
  &:active {
    color: $chingu-grey;
    background: $chingu-yellow;
    transform: translateY(2px);
  }
  &:active, &:focus, &:hover {
    text-decoration: none;
  }
  @media #{$tablet} {
    display: inline-block;
    width: calc(50% - 10px);
    &:nth-child(odd) {
      margin-right: 15px;
    }
  }
  @media #{$desktop} {
    display: inline-block;
    width: auto;
    margin-right: em(10);
    position: relative;
  }
}

.search__result__title {
  display: block;
  padding: 0 0.65em;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  letter-spacing: 0.1em;
  @media #{$desktop} {
   font-size: 1.5rem;
  }
}

.search__thumbnail {
  display: inline-flex;
  width: em(30);
  min-width: em(30);
  height: em(30);
  background: linear-gradient(to bottom, $chingu-grey-opacity, $chingu-grey);
  font-size: em(32);
  color: $chingu-yellow;
  text-transform: uppercase;
  align-items: center;
  justify-content: center;
  transition: 300ms;
  border-radius: 5px;
  &:hover {
    color: white;
    cursor: pointer;
  }
  @media #{$desktop} {
    width: em(50);
    height: em(50);
    min-width: em(50);
  }
}

.search__desc {
  text-align: left;
  padding-top: em(10);
  font-size: 0.8em;
  overflow: hidden;
  text-overflow: ellipsis;
  @media #{$desktop} {
    text-align: center;
  }
}

.search__popup {
  border: 1px solid #ccc;
}

.btn-link {
  cursor: pointer;
}

.flip-animation {
  animation: flip 500ms ease-in-out;
}

.fade-in {
  animation: fade-in 500ms ease;
}

@keyframes flip {
  0% {
    opacity: 0;
    transform: rotateX(90deg);
  }
  100% {
    opacity: 1;
    transform: rotateX(0deg);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

// =============
// Footer
// =============

.footer {
  @extend .header;
}
