body {
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  height: 100%;
  color: #333333;
  overflow-x: hidden; }

#body {
  transition: 300ms; }

::selection {
  background: #f1c40f;
  /* WebKit/Blink Browsers */ }

::-moz-selection {
  background: #f1c40f;
  /* Gecko Browsers */ }

a {
  color: black;
  transition: 300ms;
  text-decoration: none; }
  a:hover {
    color: #f1c40f; }
  a:active, a:focus, a:hover {
    text-decoration: none; }

.header, .footer {
  padding: 0.9375em;
  z-index: 2; }

.site__name {
  font-family: 'Pacifico', cursive;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: 500; }

.header__hamburger {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0.6em;
  right: 0.6em;
  float: right;
  width: 2.1875em;
  height: 2.1875em;
  border-radius: 0.3125em;
  z-index: 1030;
  cursor: pointer;
  transition: 500ms; }
  .header__hamburger:hover .header__hamburger--center span:nth-child(odd) {
    width: 70%; }
  .header__hamburger span:nth-child(even) {
    margin: 4px 0; }
  .header__hamburger span {
    display: block;
    width: 100%;
    height: 0.25em;
    background-color: #333333; }
  @media only screen and (min-width: 1200px) {
    .header__hamburger {
      display: none; } }

.header__hamburger--center {
  width: 70%; }

.header__menu__grid {
  font-family: 'Open Sans';
  text-align: center;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 250px;
  z-index: 1;
  background: white;
  visibility: hidden;
  transition: 500ms;
  transform: translate3d(100%, 0, 0);
  box-shadow: 1px 1px 5px rgba(51, 51, 51, 0.6); }
  @media only screen and (min-width: 1200px) {
    .header__menu__grid {
      position: absolute;
      top: 0;
      right: 0;
      box-shadow: none;
      transform: translate3d(0, 0, 0);
      width: auto;
      height: auto;
      visibility: visible;
      background-color: transparent; } }

.header__menu__grid--active {
  visibility: visible;
  transform: translate3d(0, 0, 0); }

.header__menu {
  flex-flow: column;
  list-style-type: none;
  margin: 0 0.625em;
  padding: 0.625em; }
  .header__menu a:first-of-type {
    font-weight: 600;
    text-align: center; }
  .header__menu li {
    display: flex;
    padding: 1.25em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    justify-content: center; }
  .header__menu i {
    flex: 0 0 10%;
    margin-top: 0.14em;
    font-size: 1.2em; }
  .header__menu span {
    flex: 0 0 90%; }
  @media only screen and (min-width: 1200px) {
    .header__menu {
      display: inline-flex;
      height: auto;
      flex-flow: row wrap;
      margin: 0 0.625em;
      padding: 0.9375em; }
      .header__menu a:first-of-type {
        display: none; }
      .header__menu li {
        border-bottom: 0;
        padding: 0 0.625em; }
      .header__menu i {
        display: none; }
      .header__menu span {
        flex: 0 0 100%; } }

.header__translate {
  transform: translateX(-250px);
  transition: 500ms;
  overflow: hidden; }

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(51, 51, 51, 0.6);
  display: none;
  z-index: 1; }

.overlay--active {
  display: block; }

.user__headline, .user__headline--white {
  display: inline-flex;
  font-size: 1.875em;
  color: black;
  font-weight: 800;
  padding: 0.625em 0;
  box-shadow: inset 0 -3px 0 0 #f1c40f; }

.user__list {
  width: 100%;
  padding: 0.625em;
  margin: 0 auto; }

.user__header {
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  padding: 0.625em; }

.user__cell {
  word-wrap: break-word;
  padding: 0.625em;
  text-align: center; }
  .user__cell p {
    margin: 0.3125em 0; }
  .user__cell .small {
    color: #9e9e9e; }

.user__male, .user__female {
  font-size: 2em;
  color: #0074d9;
  margin: 0.3125em 0; }

.user__female {
  color: #f012be; }

.loading {
  color: #616161;
  transition: 300ms; }

.login__introblock {
  background-color: #1abc9c;
  color: #ffffff; }

.login__button {
  display: block;
  width: 50%;
  margin: 0 auto; }
  .login__button span {
    margin: 0 auto; }

.login__button-github {
  display: inline-flex;
  padding: 0.625em 1.25em;
  background-color: #24292e;
  color: #ffffff;
  transition: 300ms;
  margin-top: 0.5625em;
  width: 100%;
  vertical-align: middle; }
  .login__button-github i {
    color: #ffffff;
    margin-right: 0.625em;
    margin-top: 0.3125em; }
  .login__button-github:hover {
    background-color: rgba(36, 41, 46, 0.8);
    cursor: pointer; }
  .login__button-github:focus, .login__button-github:active, .login__button-github:hover {
    text-decoration: none; }

.user__headline--white {
  box-shadow: inset 0 -3px 0 0 #ffffff;
  color: #ffffff; }

.login__ul {
  list-style-type: none;
  padding-left: 1.875em li; }
  .login__ul :before {
    font-family: FontAwesome;
    content: '\f00c';
    font-size: 1em;
    color: #ffffff;
    position: absolute;
    left: 1.25em; }

.no-padding {
  padding: 0;
  margin: 0; }

.search__user__grid {
  display: flex;
  flex-flow: column wrap; }
  @media only screen and (min-width: 768px) {
    .search__user__grid {
      align-items: center; } }
  @media only screen and (min-width: 1200px) {
    .search__user__grid {
      flex-flow: row wrap;
      justify-content: space-around; } }

.search__header-text-align input {
  text-align: center; }

.search__user {
  background: #4f6570;
  color: white;
  padding: 0.9375em 0.625em;
  margin-bottom: 0.625em;
  box-shadow: 1px 1px 3px rgba(51, 51, 51, 0.6);
  border-radius: 0.3125em; }
  @media only screen and (min-width: 768px) {
    .search__user {
      width: 90%; } }
  @media only screen and (min-width: 1200px) {
    .search__user {
      width: calc(50% - 2em); } }

.list__inline {
  font-family: 'Arial';
  font-size: 0.7em;
  color: #333333;
  padding: 0.4em 0.9em;
  margin: 0; }
  .list__inline li {
    display: inline-block;
    margin: 0.2em;
    padding: 0 0.625em;
    background-color: #f1c40f;
    text-align: center; }
  @media only screen and (min-width: 1200px) {
    .list__inline {
      padding: 0.4em 1.2em; } }

.search__user__header {
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem; }

.search__toggle {
  display: block;
  background: #f1c40f;
  color: black;
  margin-bottom: 0.625em;
  transition: 300ms; }
  .search__toggle i {
    margin-right: 0.625em; }
  .search__toggle a {
    color: #333333; }
  .search__toggle:hover {
    color: #333333;
    background: #f1c40f; }
  .search__toggle:active {
    color: #333333;
    background: #f1c40f;
    transform: translateY(2px); }
  .search__toggle:active, .search__toggle:focus, .search__toggle:hover {
    text-decoration: none; }
  @media only screen and (min-width: 768px) {
    .search__toggle {
      display: inline-block;
      width: calc(50% - 10px); }
      .search__toggle:nth-child(odd) {
        margin-right: 15px; } }
  @media only screen and (min-width: 1200px) {
    .search__toggle {
      display: inline-block;
      width: auto;
      margin-left: 0.9375em;
      margin-right: 0.625em;
      position: relative; } }

.search__result__title {
  display: block;
  padding: 0 0.65em;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  letter-spacing: 0.1em; }
  @media only screen and (min-width: 1200px) {
    .search__result__title {
      font-size: 1.5rem; } }

.search__thumbnail {
  display: inline-flex;
  width: 1.875em;
  min-width: 1.875em;
  height: 1.875em;
  background: linear-gradient(to bottom, rgba(51, 51, 51, 0.6), #333333);
  font-size: 2em;
  color: #f1c40f;
  text-transform: uppercase;
  align-items: center;
  justify-content: center;
  transition: 300ms;
  border-radius: 5px;
  flex: 0 0 10%; }
  .search__thumbnail:hover {
    color: white;
    cursor: pointer; }
  @media only screen and (min-width: 1200px) {
    .search__thumbnail {
      width: 3.125em;
      height: 3.125em;
      min-width: 3.125em; } }

.search__title__grid {
  flex: 0 0 80%; }
  @media only screen and (min-width: 768px) {
    .search__title__grid {
      flex: 0 0 70%; } }
  @media only screen and (min-width: 1200px) {
    .search__title__grid {
      flex: 0 0 70%; } }

.search__desc {
  text-align: left;
  padding-top: 0.625em;
  font-size: 0.8em;
  overflow: hidden;
  text-overflow: ellipsis; }
  @media only screen and (min-width: 768px) {
    .search__desc {
      text-align: center; } }

.search__popup {
  border: 1px solid #ccc; }

.btn-link {
  cursor: pointer; }

.flip-animation {
  animation: flip 500ms ease-in-out; }

.fade-in {
  animation: fade-in 500ms ease; }

@keyframes flip {
  0% {
    opacity: 0;
    transform: rotateX(90deg); }
  100% {
    opacity: 1;
    transform: rotateX(0deg); } }

@keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.profile__body {
  font-family: 'Lato', sans-serif;
  color: white; }

.profile__edit-bg-grey {
  background-color: #4E6571;
  display: block; }

.profile__view-bg-grey {
  background-color: #4E6571;
  display: flex;
  align-items: center;
  padding-top: 2rem; }

.profile__image {
  border-radius: 50%;
  background-color: #FFEB3B;
  padding: 3px;
  max-width: 100%;
  height: auto; }

.profile__header-text {
  padding: 0;
  margin: 0; }

.profile__header-text h3 {
  margin: 0;
  padding: 0; }

.profile__header-text p {
  margin: 0;
  padding: 0; }

.profile__header-text a {
  color: white;
  margin: 0;
  padding: 0;
  word-wrap: break-word; }

.profile__button-contact {
  background-color: #FFEB3B;
  border: 2px solid #333333;
  border-radius: 5px;
  color: #333333;
  font-weight: bold;
  padding: 5px 20px;
  margin: 0 auto;
  position: relative;
  top: 18px; }

.profile__bg-black {
  background-color: #333333;
  padding-top: 2rem; }

.profile__category-text {
  text-decoration: underline;
  text-decoration-color: #FFEB3B;
  text-underline-position: below;
  text-align: center; }

.profile__image-container {
  position: relative;
  max-width: 156px;
  margin: 0 auto; }

.profile__edit-image {
  border-radius: 50%;
  background-color: #FFEB3B;
  margin: 0px;
  padding: 3px;
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto; }

.profile__edit-image-button {
  position: absolute;
  top: 0px;
  right: -15px;
  border: none;
  background-color: transparent;
  color: #BCBCBC;
  cursor: pointer; }

.profile__form-field {
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: white;
  background-color: #333333;
  border: 1px solid #BCBCBC;
  margin: 0;
  vertical-align: top;
  overflow: auto; }

.widthHalf {
  width: 50%;
  display: inline-block; }

.profile__edit-footer {
  border-top: 1px solid #BCBCBC;
  background-color: #4E6571; }

.profile__button-change-view {
  margin: 0;
  padding: .75rem 1rem;
  display: inline-block;
  cursor: pointer; }

.profile__button-save {
  margin: .65rem 1rem;
  padding: 0 1rem;
  float: right;
  border: 2px solid #333333;
  border-radius: 5px;
  background-color: #FFEB3B;
  font-weight: bold;
  cursor: pointer; }
