$browser-context: 16; // Default
@function em($pixels, $context: $browser-context) {
  @return #{$pixels/$context}em;
  //get font-size from px to em
}

$theme-color: #1abc9c; //one of the theme color of Chingu
$chingu-yellow: #f1c40f;
$chingu-grey: rgba(51, 51, 51, 1);
$chingu-grey-opacity: rgba(51, 51, 51, 0.6);

$doum-darkblue: #4f6570;
$doum-grey: #333333;

$profile-yellow: #ffeb3b;
$profile-lightgrey: #bcbcbc;
$profile-grey: #4e6571;
$profile-black: #333333;
$spacer: 1rem;
$spacer-x: $spacer;
$spacer-y: $spacer;

//mobile query
$phone: "only screen and (max-width : 576px)";
$tablet: "only screen and (min-width : 768px)";
$laptop: "only screen and (min-width : 992px)";
$desktop: "only screen and (min-width : 1200px)";

// =====================
// All Pages Default
// =====================

body {
  width: 100%;
  height: 100vh;
  min-height: 100vh;
  font-family: Lato, 'Open Sans', sans-serif;
  color: $chingu-grey;
  overflow-x: hidden; //for hiding menu
  box-sizing: border-box;
}

#body {
  transition: 300ms;
}

.no-overflow {
  overflow-x: hidden;
  overflow-y: hidden;
}

.overflow {
  overflow-x: auto;
  overflow-y: auto;
}

::selection {
  background: $chingu-yellow; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: $chingu-yellow; /* Gecko Browsers */
}

a {
  color: black;
  transition: 300ms;
  text-decoration: none;
  &:hover {
    color: $chingu-yellow;
  }
  &:active,
  &:focus,
  &:hover {
    text-decoration: none;
  }
}

// =============
// Header
// =============
.header {
  position: relative;
  padding: em(15);
  z-index: 2;
  @media #{$desktop} {
    z-index: auto;
  }
}
.site__name {
  font-family: 'Pacifico', cursive;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: 500;
}

.header__hamburger {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 1em;
  right: 0.6em;
  float: right;
  width: em(35);
  height: em(35);
  border-radius: em(5);
  z-index: 1030;
  cursor: pointer;
  transition: 500ms;
  &:hover {
    .header__hamburger--center span:nth-child(odd) {
      width: 70%;
    }
  }
  span:nth-child(even) {
    margin: 4px 0;
  }
  span {
    display: block;
    width: 100%;
    height: em(4);
    background-color: $chingu-grey;
  }
  @media #{$desktop} {
    display: none;
  }
}

.header__hamburger--center {
  width: 70%;
}

.header__menu__grid {
  font-family: 'Open Sans';
  text-align: center;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 280px;
  z-index: 1;
  background: white;
  visibility: hidden;
  transition: 500ms;
  transform: translate3d(100%, 0, 0);
  box-shadow: 1px 1px 5px $chingu-grey-opacity;
  @media #{$desktop} {
    position: absolute;
    top: 0;
    right: 0;
    box-shadow: none;
    transform: translate3d(0, 0, 0);
    width: auto;
    height: auto;
    visibility: visible;
    background-color: transparent;
  }
}

.header__menu__grid--active {
  visibility: visible;
  transform: translate3d(0, 0, 0);
}

.header__menu {
  flex-flow: column;
  list-style-type: none;
  margin: 0 em(10);
  padding: em(10);
  a:first-of-type {
    font-weight: 600;
    text-align: center;
  }
  li {
    display: flex;
    padding: em(20);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    justify-content: center;
  }
  i {
    flex: 0 0 10%;
    margin-top: 0.14em;
    font-size: 1.2em;
  }
  span {
    flex: 0 0 90%;
  }
  @media #{$desktop} {
    display: inline-flex;
    height: auto;
    flex-flow: row wrap;
    margin: 0 em(10);
    padding: em(15);
    a:first-of-type {
      display: none;
    }
    li {
      border-bottom: 0;
      padding: 0 em(10);
    }
    i {
      display: none;
    }
    span {
      flex: 0 0 100%;
    }
  }
}

.header__translate {
  transform: translateX(-280px);
  transition: 500ms;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: $chingu-grey-opacity;
  display: none;
  z-index: 1;
}

.overlay--active {
  display: block;
}

//==================
// Landing Page
//==================

.section {
  padding: 2.5rem;
  color: white;
  font-size: 110%;

  &__hero {
    background-image: url('../src/assets/hero image.jpg');
    background-size: 250%;
    background-position: center;

    &__branding {
      color: white;
      font-size: 350%;
      font-weight: bold;
      padding-left: 2.5rem;
      border-bottom: solid $chingu-yellow 0.5rem;
      border-right: solid $chingu-yellow 0.5rem;
      margin-bottom: 2rem;
    }
  }

  &--light {
    background-color: $theme-color;
  }

  &--dark {
    background-color: $doum-darkblue;
  }

  &--black {
    background-color: $doum-grey;
  }

  &__feature {
    text-align: center;
  }

  &__header {
    text-align: center;
    display: block;
    margin: 0 auto;
    width: 30%;
    color: white;
    font-weight: 400;
    border-bottom: 0.3rem solid $chingu-yellow;
    padding-bottom: 0.9rem;
    margin-bottom: 2rem;

    @media screen and (max-width: 414px) {
      width: 60%;
    }
  }

  &__text {
    text-align: center;
  }

  &__users {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    &__image {
      width: 5rem;
      height: 5rem;
    }
  }

  &__project {
    text-align: center;
    border: 0.1rem solid $chingu-yellow;
    background: $doum-darkblue;
    border-radius: 10px;
    margin: 1em;
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.icon {
  background: #333;
  text-align: center;
  vertical-align: middle;
  padding: 1.1rem;
  font-size: 210%;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  border: solid $chingu-yellow 2px;
  margin-bottom: 1rem;
}

.btn {
  display: block;
  width: 25%;
  margin: 0 auto;
  &__login {
    background-color: $chingu-yellow;
  }

  @media screen and (max-width: 414px) {
    width: 70%;
  }
}

.text--primary {
  color: $chingu-yellow;
}

.landing__background--gray {
  background-color: $doum-darkblue;
}

//==================
//User form style
//==================
.user__headline {
  display: inline-flex;
  font-size: em(30);
  color: black;
  font-weight: 800;
  padding: em(10) 0;
  box-shadow: inset 0 -3px 0 0 #f1c40f;
}

.user__list {
  width: 100%;
  padding: em(10);
  margin: 0 auto;
}

.user__header {
  text-transform: uppercase;
  font-weight: bold;
  margin: 0 auto;
  padding: em(10);
}

.user__cell {
  word-wrap: break-word;
  padding: em(10);
  margin: 0 auto p {
    margin: em(5) 0;
  }
  .small {
    color: #9e9e9e;
  }
}

.user__male {
  font-size: 2em;
  color: #0074d9;
  margin: em(5) 0;
}

.user__female {
  @extend .user__male;
  color: #f012be;
}

.loading {
  color: #616161;
  transition: 300ms;
}

// =============
// Login Page
// =============

.login__introblock {
  height: auto;
  background-color: $theme-color;
  color: #ffffff;

  @media #{$tablet} {
    height: calc(100vh - 120px);
  }
}

.login__button {
  display: block;
  width: 90%;
  margin: 0 auto;
  span {
    margin: 0 auto;
  }
  @media #{$laptop} {
    width: 70%;
  }

  @media #{$desktop} {
    width: 50%;
  }
}

.login__button-github {
  display: inline-flex;
  padding: em(10) em(20);
  background-color: rgba(36, 41, 46, 1);
  color: #ffffff;
  transition: 300ms;
  margin-top: em(9);
  width: 100%;
  vertical-align: middle;
  i {
    color: #ffffff;
    margin-right: em(10);
    margin-top: em(5);
  }
  &:hover {
    background-color: rgba(36, 41, 46, 0.8);
    cursor: pointer;
  }
  &:focus,
  &:active,
  &:hover {
    text-decoration: none;
  }
}

.login__text {
  position: relative;
  display: block;
  font-size: 0.8rem;
  text-align: center;
  padding-top: 1.5em;
  padding-buttom: 0.5em;
  font-weight: 600;
  i {
    margin-right: em(10);
  }
}

.login__button-register {
  @extend .login__button-github;
  background-color: #f44336;
  &:hover {
    background-color: #ef5350;
  }
}

.user__headline--white {
  @extend .user__headline;
  box-shadow: inset 0 -3px 0 0 #ffffff;
  color: #ffffff;
}

.login__ul {
  list-style-type: none;
  padding-left: em(30);
  li:before {
    font-family: FontAwesome;
    content: '\f00c';
    font-size: 1em;
    color: #ffffff;
    position: absolute;
    left: em(20);
  }
}

// =============
// Search
// =============

.no-padding {
  padding: 0;
  margin: 0;
}

.search__close {
  position: absolute;
  right: 0.9em;
  top: -0.3em;
  font-size: 1.2em;
  cursor: pointer;
  padding: 0.5em;
  @media #{$tablet} {
    top: -0.1em;
    right: 1.1em;
    font-size: 1em;
  }
}

.search__user__grid {
  display: flex;
  flex-flow: column wrap;
  @media #{$tablet} {
    justify-content: left;
  }
  @media #{$desktop} {
    flex-flow: row wrap;
    justify-content: left;
  }
}

.search__header-text-align input {
  margin: 0 auto;
}

.search__user {
  background: $doum-darkblue;
  color: white;
  padding: em(15) em(10);
  margin-bottom: em(10);
  box-shadow: 1px 1px 3px $chingu-grey-opacity;
  border-radius: em(5);
  @media #{$tablet} {
    width: 90%;
  }
  @media #{$desktop} {
    width: calc(50% - 1.5em);
    margin-right: 1em;
    &:nth-child(odd) {
      margin-left: 1em;
    }
  }
}

.list__inline {
  font-family: 'Arial';
  font-size: 0.7em;
  color: $doum-grey;
  padding: 0.4em 0.9em;
  margin: 0;
  li {
    display: inline-block;
    margin: 0.2em;
    padding: 0 em(10);
    background-color: $chingu-yellow;
    text-align: center;
  }
  @media #{$desktop} {
    padding: 0.4em 1.2em;
  }
}

.search__user__header {
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.search__toggle {
  display: block;
  background: $chingu-yellow;
  color: black;
  margin-bottom: em(10);
  transition: 300ms;
  i {
    margin-right: em(10);
  }
  a {
    color: $chingu-grey;
  }
  &:hover {
    color: $chingu-grey;
    background: $chingu-yellow;
  }
  &:active {
    color: $chingu-grey;
    background: $chingu-yellow;
    transform: translateY(2px);
  }
  &:active,
  &:focus,
  &:hover {
    text-decoration: none;
  }
  @media #{$tablet} {
    display: inline-block;
    width: calc(50% - 10px);
    &:nth-child(odd) {
      margin-left: 15px;
    }
  }
  @media #{$desktop} {
    display: inline-block;
    width: auto;
    margin-left: em(15);
    margin-right: em(10);
    position: relative;
  }
}

.search__result__title {
  display: block;
  padding: 0 0.65em;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  letter-spacing: 0.1em;
  @media #{$desktop} {
    font-size: 1.5rem;
  }
}

.search__thumbnail {
  display: inline-flex;
  width: em(30);
  min-width: em(30);
  height: em(30);
  background: linear-gradient(to bottom, $chingu-grey-opacity, $chingu-grey);
  font-size: em(32);
  color: $chingu-yellow;
  text-transform: uppercase;
  align-items: center;
  justify-content: center;
  transition: 300ms;
  border-radius: 5px;
  flex: 0 0 10%;
  &:hover {
    color: white;
    cursor: pointer;
  }
  @media #{$desktop} {
    width: em(50);
    height: em(50);
    min-width: em(50);
  }
}

.search__title__grid {
  flex: 80%;
  @media #{$tablet} {
    flex: 0 0 70%;
  }
  @media #{$desktop} {
    flex: 0 0 70%;
  }
}

.search__desc {
  text-align: left;
  padding-top: em(10);
  font-size: 0.8em;
  overflow: hidden;
  text-overflow: ellipsis;
  @media #{$tablet} {
    text-align: center;
  }
}

.search__popup {
  border: 1px solid #ccc;
}

.filter__item {
  position: relative;
  display: inline-block;
  width: 50%;
  padding: em(10) em(25);
  border-radius: 5px;
  label {
    cursor: pointer;
    margin-left: em(10);
    margin-bottom: 0;
  }
  input[type="checkbox"] {
    display: none;
    transition: 300ms;
  }
  input[type="checkbox"]:checked + label {
    font-weight: bold;
  }
  input[type="checkbox"]:checked + label:before {
    content: '\f00c';
    font-family: 'FontAwesome';
    color: $chingu-yellow;
    position: absolute;
    top: em(11);
    left: em(10);
    font-size: 1em;
    opacity: 1;
  }

  input[type="checkbox"] + label:before {
    content: '\f00c';
    font-family: 'FontAwesome';
    color: $chingu-grey-opacity;
    opacity: 0.5;
    position: absolute;
    top: em(11);
    left: em(10);
    font-size: 1em;
  }
  @media #{$tablet} {
    width: auto;
  }
}

.filter__item--grid {
  margin: em(15);
  font-weight: 600;
}

.filter__item--filtered {
  display: inline-block;
  background-color: $chingu-yellow;
  padding: em(5) em(10);
  margin-right: em(10);
  font-size: em(13);
  font-weight: normal;
}

.filter__title {
  @extend .user__headline;
  display: block;
  font-weight: 600;
  font-size: em(16);
  margin-left: em(10);
}

.btn-link {
  cursor: pointer;
}

.flip-animation {
  animation: flip 500ms ease-in-out;
}

.flip {
  animation: flip 400ms ease-in-out;
}

.fade-in {
  animation: fade-in 500ms ease-in;
}

.fade-in-out {
  animation: fade-in-out 500ms ease-in;
}

@keyframes flip {
  0% {
    opacity: 0;
    transform: rotateX(90deg);
  }
  100% {
    opacity: 1;
    transform: rotateX(0deg);
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in-out {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

// ====================
// Loading Animation
// ====================

.loading-animation {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  width: 100%;
  min-height: calc(100vh - 320px);

  span {
    font-family: 'Arial';
    letter-spacing: 2px;
    font-weight: 600;
  }
}
.spots {
  div {
    display: inline-block;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    margin: 5px 0;
    background: $chingu-yellow;
    animation-fill-mode: both;
    animation: bounce 1.8s ease-in infinite reverse;
    @media #{$tablet} {
      width: 20px;
      height: 20px;
      margin: 5px 0;
    }
  }
  div:nth-child(even) {
    margin: 5px 20px;
    @media #{$tablet} {
      margin: 5px 30px;
    }
  }
  .spot-2 {
    animation-delay: .3s;
  }
  .spot-3 {
    animation-delay: .6s;
  }
  .spot-4 {
    animation-delay: .9s;
  }
}

@keyframes bounce {
  0% {
    transform: scale(1) Y(0);
  }
  50% {
    transform: translateY(5px);
  }
  70% {
    background: rgba(0, 0, 0, .05);
  }
  100% {
    transform: scale(1) translateY(0);
  }
}

// =============
// Profile
// =============

.profile__body {
  font-family: 'Lato', sans-serif;
  color: white;
}

.profile__edit-bg-grey {
  background-color: $profile-grey;
  display: block;
}

.profile__view-bg-grey {
  background-color: $profile-grey;
  display: flex;
  align-items: center;
  padding-top: $spacer-y * 2;
}

.profile__image {
  border-radius: 50%;
  background-color: $profile-yellow;
  padding: 3px;
  max-width: 100%;
  height: auto;
}

.profile__header-text {
  padding: 0;
  margin: 0;
}

.profile__header-text h3 {
  margin: 0;
  padding: 0;
}

.profile__header-text p {
  margin: 0;
  padding: 0;
}

.profile__header-text a {
  color: white;
  margin: 0;
  padding: 0;
  word-wrap: break-word;
}

.profile__button-contact {
  background-color: $profile-yellow;
  border: 2px solid $profile-black;
  border-radius: 5px;
  color: $profile-black;
  font-weight: bold;
  padding: 5px 20px;
  margin: 0 auto;
  position: relative;
  top: 18px;
}

.profile__bg-black {
  background-color: $chingu-grey;
  padding-top: $spacer-y * 2;
}

.profile__category-text {
  text-decoration: underline;
  text-decoration-color: $profile-yellow;
  text-underline-position: below;
  text-align: center;
}

//
// Profile Edit
//

.profile__image-container {
  position: relative;
  max-width: 156px;
  margin: 0 auto;
}

.profile__edit-image {
  border-radius: 50%;
  background-color: $profile-yellow;
  margin: 0px;
  padding: 3px;
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.profile__edit-image-button {
  position: absolute;
  top: 0px;
  right: -15px;
  border: none;
  background-color: transparent;
  color: $profile-lightgrey;
  cursor: pointer;
}

.profile__form-field {
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: white;
  background-color: $profile-black;
  border: 1px solid $profile-lightgrey;
  margin: 0;
  vertical-align: top;
  overflow: auto;
}

.widthHalf {
  width: 50%;
  display: inline-block;
}

.profile__edit-footer {
  border-top: 1px solid $profile-lightgrey;
  background-color: $profile-grey;
}

.profile__button-change-view {
  margin: 0;
  padding: .75rem 1rem;
  display: inline-block;
  cursor: pointer;
}

.profile__button-save {
  margin: .65rem 1rem;
  padding: 0 1rem;
  float: right;
  border: 2px solid $profile-black;
  border-radius: 5px;
  background-color: $profile-yellow;
  font-weight: bold;
  cursor: pointer;
}

// =============
// Footer
// =============

.footer {
  @extend .header;
}
